<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#sejarah" role="tab" aria-controls="sejarah">Sejarah</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#visi_misi" role="tab" aria-controls="visi_misi">Visi Misi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#hak_kewajiban" role="tab" aria-controls="hak_kewajiban">Hak Kewajiban</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tugas_wewenang" role="tab" aria-controls="tugas_wewenang">Tugas Wewenang</a>
    </li>
  </ul>

</div>
<br>
<div class="tab-content">
  <div class="tab-pane active" id="sejarah" role="tabpanel"><%= render 'sejarah' %></div>
  <div class="tab-pane" id="visi_misi" role="tabpanel"><%= render 'visi_misi' %></div>
  <div class="tab-pane" id="hak_kewajiban" role="tabpanel"><%= render 'hak_kewajiban' %></div>
  <div class="tab-pane" id="tugas_wewenang" role="tabpanel"><%= render 'tugas_wewenang' %></div>
</div>

<script>
  // $(function () {
  //   $('#myTab a:last').tab('show')
  // })

  $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
  })
</script>
