<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12 col-md-12'>
      <h3 class='lead'>Edit Komisi</h3>
      <%= render 'form' %>
      <%= link_to 'Show', @commision %> |
      <%= link_to 'Kembali', commisions_path %>
    </div>
  </div>
</div>
