<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
    <% @commision.each do |commision| %>
      <h3 class="lead"><%= commision.name %></h3>

    <% end %>
    </div>
    <div class="col-sm-12 col-md-4">
      <ul class="list-group">
        <% @commisions.each do |commision| %>
        <li class="list-group-item"><%= link_to commision.name, commision_path(commision.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_commision_path(@commision) %> |
<%= link_to 'Back', commisions_path %>
