<div class="container">
  <div class="row">
    <div class="col-md-8">
    <% @commisions.each do |commision| %>
      <h3 class="lead"><%= commision.name %></h3>

    <% end %>
    </div>
    <div class="col-md-4">
      <% @commisions.each do |commision| %>
        <%= link_to commision.name(commision.id) %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_commision_path(@commision) %> |
<%= link_to 'Back', commisions_path %>
