<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @badan_anggaran.level %>
</p>

<%= link_to 'Edit', edit_badan_anggaran_path(@badan_anggaran) %> |
<%= link_to 'Back', badan_anggarans_path %>
