<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 ">
       <h1 class="header_dprd">DEWAN PERWAKILAN RAKYAT DAERAH</h1>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <center>
         <%= image_tag("logo_dprd.jpg", class: "logo_dprd")  %>
    </center>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 ">
    <div class="header_bone">
      <h2 >KABUPATEN BONE</h2>
      <h2 >PROPINSI SULAWESI SELATAN</h2>
    </div>
  </div>
</div>
