
<div class="row fungsi_dpr">
  <div class="head">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1>Fungsi DPRD</h1>
    </div>
  </div>
  <div class="body">
    <div class="col-xs-12 col-md-4 col-lg-4">
       <span class="glyphicon glyphicon-pencil"></span>
       <h3>Legislasi</h3>
       <p>Sebagai perwujudan DPRD selaku pemegang kekuasaan membentuk peraturan daerah.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
       <span class="glyphicon glyphicon-pencil"></span>
       <h3>Anggaran</h3>
       <p>Membahas dan memberikan persetujuan atau tidak terhadap rancangan peraturan daerah tentang APBD yang diajukan oleh Bupati.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
       <span class="glyphicon glyphicon-pencil"></span>
       <h3>Pengawasan</h3>
       <p>Melakukan pengawasan atas pelaksanaan peraturan daerah dan APBD.</p>
    </div>
  </div>
</div>
