
<div class="row fungsi_dpr">
  <div class="head">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1>Fungsi DPRD</h1>
    </div>
  </div>
  <div class="body">
    <div class="col-sm-6 col-md-4">
        <h3>Legislasi</h3>
        <a class="thumbnail"><%= image_tag("Leader.jpg")  %></a>
        <p>Sebagai perwujudan DPRD selaku pemegang kekuasaan membentuk peraturan daerah.</p>
        <h5><a href='http://www.freepik.com/free-vector/concept-of-successful-businessman_765807.htm'>Designed by Freepik</a></h5>
    </div>
    <div class="col-sm-6 col-md-4">
        <h3>Anggaran</h3>
        <a class="thumbnail"><%= image_tag("Discussion.jpg")  %></a>
        <p>Membahas dan memberikan persetujuan atau tidak terhadap rancangan peraturan daerah tentang APBD yang diajukan oleh Bupati.</p>
        <h5><a href='http://www.freepik.com/free-vector/business-brainstorming-concept_767019.htm'>Designed by Freepik</a></h5>
    </div>
    <div class="col-sm-6 col-md-4">
        <h3>Pengawasan</h3>
        <a class="thumbnail"><%= image_tag("Observation.jpg")  %></a>
        <p>Melakukan pengawasan atas pelaksanaan peraturan daerah dan APBD.</p>
        <h5><a href='http://www.freepik.com/free-vector/worker-doing-a-research-work_834596.htm'>Designed by Freepik</a></h5>
    </div>
  </div>
</div>
