<div class="row hak_kewajiban">
  <div class="container">
        <h1>Hak Dan Kewajiban</h1>
        <div class="col-md-12">
            <div class="blockquote-box blockquote-danger clearfix">
                <!-- <div class="square pull-left">
                    <img src="http://placehold.it/60/8e44ad/FFF&text=B" alt="" class="" />
                </div> -->
                <h3>Hak Interpelasi</h3>
                <p>
                    Hak interpelasi adalah hak DPRD untuk meminta keterangan kepada Pemerintah mengenai kebijakan Pemerintah yang penting dan strategis serta berdampak luas pada kehidupan bermasyarakat, berbangsa, dan bernegara.
                </p>
            </div>
            <div class="blockquote-box blockquote-primary clearfix">
                <!-- <div class="square pull-left">
                    <span class="glyphicon glyphicon-music glyphicon-lg"></span>
                </div> -->
                <h3>Hak Angket</h3>
                <p>
                    Hak angket adalah hak DPRD untuk melakukan penyelidikan terhadap pelaksanaan suatu peraturan daerah dan/atau kebijakan Pemerintah yang berkaitan dengan hal penting, strategis, dan berdampak luas pada kehidupan bermasyarakat, berbangsa, dan bernegara yang diduga bertentangan dengan peraturan perundang-undangan.
                </p>
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <!-- <div class="square pull-left">
                    <span class="glyphicon glyphicon-tree-conifer glyphicon-lg"></span>
                </div> -->
                <h3>Hak Menyatakan Pendapat</h3>
                <p>
                  <ul class="nav">
                    <li>Kebijakan Pemerintah atau mengenai kejadian luar biasa yang terjadi di tanah air atau di dunia internasional</li>
                    <li>Tindak lanjut pelaksanaan hak interpelasi dan hak angket</li>
                    <li>Dugaan bahwa Presiden dan/atau Wakil Presiden melakukan pelanggaran hukum baik berupa pengkhianatan terhadap negara, korupsi, penyuapan, tindak pidana berat lainnya, maupun perbuatan tercela, dan/atau Bupati dan/atau Wakil Bupati tidak lagi memenuhi syarat sebagai Bupati dan/atau Wakil Bupati.</li>
                  </ul>
                </p>
            </div>
        </div>
  </div>
</div>
