<div class="row sejarah">
  <div class="container">
    <div class="media">
      <h1 class="media-heading">Sejarah Periode 2014-2019</h1><br>
      <div class="col-xs-12 col-sm-12 col-md-5">
          <img class="img-responsive" src="http://2.bp.blogspot.com/-hOfqNd1FDeI/VEdKzsNiEaI/AAAAAAAANdg/YOvETm77xho/s1600/Pelantikan%2Bdan%2BPengambilan%2Bsumpah%2Bpimpinan%2BDPRD%2BBone.jpg"  alt="Responsive image">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <h4 >
          &nbsp;&nbsp;&nbsp;"Anggota Dewan Perwakilan Rakyat Daerah (DPRD) Kabupaten Bone yang dinyatakan terpilih pada Pemilu Legislatif 9 April lalu resmi dilantik, Selasa 12 Agustus 2014. Proses pelantikan digelar dalam Rapat Paripurna Istimewa Pengambilan Sumpah dan Janji Anggota DPRD Kabupaten Bone masa bakti 2014-2019 di kantor DPRD setempat.
          Sebanyak 45 Anggota dewan terpilih itu dilantik dan diambil sumpahnya oleh Ketua Pengadilan Negeri Bone, Adhar. SH sekitar pukul 10.30 Wita. Dalam rapat tersebut, Sekretaris Dewan (Sekwan) DPRD Bone,  Andi Ruslan membacakan posisi pimpinan DPRD sementara diduduki oleh Andi Akbar Yahya dari Partai Golkar."
        </h4>
      </div>
    </div>
  </div>
</div>
