<div class="container">
  <div class="row">
    <h3 class="lead">Edit Info Kegiatan</h1>
    <%= render 'form' %>
    <br>
    <%= link_to 'Show', @information %> |
    <%= link_to 'Back', information_index_path %>
  </div>
</div>
