    <div class="row">
       <div class="col-xs-12 visible-xs">
         <h1 class="yayasan"><center>DEWAN PERWAKILAN RAKYAT DAERAH</center></h1>
          <%= image_tag("logo_dprd.jpg",  class: "logo", align: "center")  %>
          <h2 ><center>KABUPATEN BONE</center></h2>
          <br>
          <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-12">
            <br>
          </div>
       </div>
     </div>

     <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12">
           <h1 class="yayasan visible-sm visible-md visible-lg">DEWAN PERWAKILAN RAKYAT DAERAH</h1>
           <h2 class="hidden-xs">KABUPATEN BONE</h2>
       </div>
       <div class="col-xs-2 col-sm-4 col-md-3 logo_float visible-sm visible-md visible-lg">
               <%= image_tag("logo_dprd.jpg", class: "logo", align: "center")  %>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-12">
           <h2 class="hidden-xs">KABUPATEN BONE</h2>
       </div>
     </div>
