<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @badan_musyawarah.level %>
</p>

<%= link_to 'Edit', edit_badan_musyawarah_path(@badan_musyawarah) %> |
<%= link_to 'Back', badan_musyawarahs_path %>
