<div class="container">
  <div class="row">
    <h3 class="lead">Daftar Fraksi</h3>
    <% @fractions.each do |fraksi| %>
    <p>
      <%= fraksi.name.titleize %>
      <%= link_to "Edit", edit_fraction_path(fraksi)  %> ||
      <%= link_to "Hapus", fraksi, method: :delete, data: {confirm: "Yakin Akan Di Hapus?"}  %>
    </p>
    <% end %>
    <br>
    <%= link_to 'Buat Organisasi Fraksi', new_fraction_path, class: "btn btn-success" %>
  </div>
</div>
