<div class="container">
  <div class="row">
    <div class="well">
      <h3 class="lead">Daftar Fraksi <%= link_to 'Buat Fraksi', new_fraction_path, class: "btn btn-default" %> </h1>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nama</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @fractions.each do |fraction| %>
            <tr>
              <td><%= fraction.name.titleize if fraction %></td>
              <td><%= link_to 'Edit', edit_fraction_path(fraction), class: 'btn btn-warning' %>&nbsp; &nbsp;<%= link_to 'Hapus', fraction, method: :delete, data: { confirm: 'Anda Yakin Hapus?' }, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>
