<div class="container">
  <div class="row">
    <h3 class="lead"><%= @fraction.name %></h3>
    <!-- <p>Susunan Organisasi</p> -->

    <%= link_to 'Edit', edit_fraction_path(@fraction) %> |
    <%= link_to 'Back', fractions_path %>

  </div>
</div>
