<h3 class='lead'>Fraksi</h3>
<ul class="list-group">
  <% @fractions.each do |fraction| %>
  <li class="list-group-item"><%= link_to fraction.name.upcase, fraction_path(fraction.id) %></li>
  <% end %>
</ul>
<% if params[:controller] == 'fractions' && params[:action] == 'show' %>
<%= link_to 'SEMUA FRAKSI', fractions_path, class:'btn btn-default' %>
<% end %>
