<h3 class='lead'>Komisi</h3>
<ul class="list-group">
  <% @commisions.each do |c| %>
    <% if c.member_commisions.present? %>
      <li class="list-group-item"><%= link_to c.name.upcase, commision_path(c.id) %></li>
    <% end %>
  <% end %>
</ul>
<% if params[:controller] == 'commisions' && params[:action] == 'show' %>
  <%= link_to 'SEMUA KOMISI', commisions_path, class:'btn btn-default' %>
<% end %>
