<div class="container">
  <div class="row contact">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href='http://www.freepik.com/free-vector/businessman-shouting-through-megaphone_791783.htm' class="thumbnail">
          <!-- <img class="media-object" src="..." alt="..."> -->
          <%= image_tag("kritik_saran.jpg") %>
        </a>
        <h6><a href='http://www.freepik.com/free-vector/businessman-shouting-through-megaphone_791783.htm'>Designed by Freepik</a></h6>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-8">
        <h1 class="head_contact">Kontak Kami</h1>
        <h2 class="head_content">Jika Anda Berniat Mengirim Kritikan Dan Saran, Silahkan menghubungi kami melalui sosial media kami.</h2>
        <p>
                <div class="social facebook">
                    <i class="fa fa-facebook fa-5x"></i>
                </div>
                <div class="social twitter">
                    <i class="fa fa-twitter fa-5x"></i>
                </div>
        </p>
      </div>
  </div>

</div>
