<div class="row contact">
  <div class="container">
    <h1 class="head_contact">Kontak Kami</h1>
    <h2 class="head_content">Jika Anda Berniat Mengirim Kritikan Dan Saran, Silahkan menghubungi kami melalui sosial media kami.</h2>
    <p>
      <%#= image_tag "https://www.google.co.id/maps/place/Kantor+DPRD+Kabupaten+Bone/@-4.5470889,120.3006717,18z/data=!4m6!1m3!3m2!1s0x2dbde503f67aa2db:0x575ca3b1d5bece99!2sSTADION+LA+PATAU+WATAMPONE!3m1!1s0x0000000000000000:0x3e7862e31683f163" %>
    </p>
    <!-- https://www.google.co.id/maps/place/Kantor+DPRD+Kabupaten+Bone/@-4.5470889,120.3006717,18z/data=!4m6!1m3!3m2!1s0x2dbde503f67aa2db:0x575ca3b1d5bece99!2sSTADION+LA+PATAU+WATAMPONE!3m1!1s0x0000000000000000:0x3e7862e31683f163 -->
  </div>
</div>
