<div class="container">
  <div class="row">
    <h3 class="lead">Edit Wakil Rakyat</h3>
    <%= render 'form' %>
    <%#= link_to 'Show', @parliament_member %> |
    <%= link_to 'Kembali', anggota_wakil_rakyat_path %>
  </div>
</div>
