<div class="container">
  <div class="row">
    <h3 class="lead">Edit Wakil Rakyat</h3>
    <%= render 'form' %>
    <%= link_to 'Show', @parliament_member %> |
    <%= link_to 'Back', parliament_members_path %>
  </div>
</div>
