<div class="container">
  <div class="row">
    <h3 class="lead">Daftar Wakil Rakyat DPRD Bone</h3>
    <% @parliament_group.each do |grup, parliament | %>
      <p><%= grup.titleize %></p>
      <ul>
        <% parliament.each do |p| %>
          <li>
            <%= p.name %>
            <%= link_to "edit", edit_parliament_member_path(p) %>
          </li>
        <% end %>
      </ul>

    <% end %>



    <br>

    <%= link_to 'Tambah Wakil Rakyat', new_parliament_member_path, class: "btn btn-success" %>

  </div>
</div>
