<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parliament_member.name %>
</p>

<%#= link_to 'Edit', edit_parliament_member_path(@parliament_member) %> |
<%#= link_to 'Back', parliament_members_path %>
