<div class="container">
  <div class="row">
    <h3 class="lead">Edit Pangkat</h3>
    <%= render 'form' %>
    <%= link_to 'Show', @level %> |
    <%= link_to 'Back', levels_path %>

  </div>
</div>
