<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12 col-md-12'>
      <h3 class='lead'>Edit Anggota Komisi</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @member_commision %> |
      <%= link_to 'Back', member_commisions_path %>
    </div>
  </div>
</div>
