<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @badan_legislatif.level %>
</p>

<%= link_to 'Edit', edit_badan_legislatif_path(@badan_legislatif) %> |
<%= link_to 'Back', badan_legislatifs_path %>
