// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo_dprd{
  font-weight: lighter;
  font-family: sans-serif;
  // color: #f0ad4e !important;
}

.logo_bone{
  font-weight: lighter;
  font-family: sans-serif;
  color: #3f903f !important;
}
