// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header_dprd{
  padding: 20px 0 10px 0;
  // line-height: 200px;

  // font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
  // color: #f0ad4e !important;
}


.logo_dprd{
  padding: 0px 0 10px 0;
  font-weight: lighter;
  font-family: sans-serif;
  text-align: center;
  // color: #f0ad4e !important;
}

.header_bone{
  padding: 0px 0 100px 0;
  font-weight: 400;
  font-family: sans-serif;
  color: #3f903f !important;
  text-align: center;
}
