.sejarah{
  padding-top: 100px !important;
  padding-bottom: 70px !important;
  border-top: 1px solid #d4d4d4;
  
  img{
    padding-bottom: 30px !important;
  }
  .media-body{
    padding-left: 20px;
  }

}
