.sejarah{
  padding-top: 100px !important;
  padding-bottom: 70px !important;
  // border-top: 1px solid #d4d4d4;
  background-color: #fff;
  h1{
    color: #A94442;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }
  h4{
    margin-top: -10px !important;
    line-height: 1.7 !important;
    color: #0d0d0d;
    font-weight: 200;
    font-size: 18px;
  }
  img{
    padding-bottom: 30px !important;
  }
  .media-body{
    padding-left: 20px;
  }
}
